---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<script src="https://www.google.com/recaptcha/api.js" ></script>
	</head>
	<body class="bg-zinc-600">
		<div class="flex justify-center items-center h-64">
			<form action="" method="post" id="demo-form">
				<fieldset>
					<label for="userName">
						Nombre de usuario
						<input class="border" type="text" id="userName" name="userName">
					</label>
	
				</fieldset>
				<div class="space-y-5">

					<div class="g-recaptcha" data-sitekey="6LeKYTwpAAAAABNtoxZ5mtWzzx6yE7Fj-2mve51o"></div>
				
					<button class="px-4 rounded-sm bg-red-500 text-white" type="submit">Enviar</button>

					<button 
						class="g-recaptcha px-4 rounded-sm bg-blue-500 text-white"
						data-sitekey="6LeKYTwpAAAAABNtoxZ5mtWzzx6yE7Fj-2mve51o"
						data-callback="onSubmit"
						data-action="submit"> 
						Click me to verify the captcha challenge! 
					</button>

				</div>
		  
			</form>
		</div>
	</body>
</html>



<script is:inline>

	// const form = document.getElementById("demo-form");

	// form?.addEventListener("submit", (e)=>{
	// 	e.preventDefault();

	// 	console.log("enviado");
	// })


	function onSubmit(token) {
	  fetch("/", {
		method: "POST",
		body: JSON.stringify({ recaptcha: token })
	  })
	  .then((response) => response.json())
	  .then((gResponse) => {
		if (gResponse.success) {
		  // Verificación del Captcha fue un éxito
		} else {
		  // Falló la verificación del Captcha
		}
	  })
	}

	window.onSubmit = onSubmit;

</script>



